<!DOCTYPE HTML>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  </head>
  <body ng-app="ww">
    <main ng-controller="RobotController as robotVm">
      <div class="loading" ng-show="robotVm.clicked">
        <h1 class="loading-comment">Waiting for Dash to take a picture...</h1>
        <div class="loader">Loading...</div>
      </div>
      <div class="container text-center" ng-hide="robotVm.clicked">
        <h1 class="title">Dash Controller</h1>
        <h2 class="button snap" ng-click="robotVm.picture()">Snap</h2>
        <div class="row video">
          <img src="http://10.1.10.24:9090/stream/video.mjpeg" type="video/mjpeg">
        </div>
        <div class="row">
          <h2 class="forward button" ng-click="robotVm.forward()">Forward</h2>
        </div>
        <div class="row midBtns">
          <h2 class="left button col-md-1" ng-click="robotVm.left()">Left</h2>
          <h2 class="right button col-md-1" ng-click="robotVm.right()">Right</h2>
        </div>
        <div class="row">
          <h2 class="backward button" ng-click="robotVm.backward()">Backward</h2>
        </div>
      </div>
    </main>

  <script src="js/robot/robot.module.js"></script>
  <script src="js/robot/robot.controller.js"></script>
  <script src="js/robot/robot.factory.js"></script>
  <script src="js/ww.module.js"></script>
  </body>
</html>